@charset "utf-8";
@import "./reset.css";

html * {
    /* font-family: "Noto Sans JP", 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',YuGothic,'Yu Gothic',sans-serif; */
    font-family: 'Noto Sans JP', 'Muli', sans-serif;
    font-feature-settings: "palt";
    letter-spacing: 1px;
}
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    line-height: 1.6;
    color: #333;
    margin: 0 auto;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}
a {
    text-decoration: none;
}
.content {
    max-width: 800px;
    text-align: left;
    border: solid 1px #bbb;
    padding: 50px;
    margin: 100px auto;
}
.contentTtl {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
}

/* コード表示ボタン */
.slideTglBtn {
    cursor: pointer;
    font-size: 14px;
    cursor: pointer;
    color: #808080;
    width: 120px;
    /* border: solid 1px #808080; */
    padding: 5px;
    margin-top: 50px;
    /* text-align: center; */
}
.slideTglBtn::before {
}

/* コードの表示領域 */
.slideTglArea {
    display: none;
}
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8{
    list-style-type:decimal !important;
}
.code {
    text-align: left;
    margin: 50px auto;
}
pre {
    padding: 20px;
    overflow: scroll;
}